<section class="gh-canvas">
    <GhCanvasHeader class="gh-canvas-header break tablet post-header">
        <GhCustomViewTitle @title={{if this.session.user.isContributor (concat this.config.blogTitle " Report") "Reports"}} @query={{reset-query-params "reports"}} />

        <section class="view-actions">
            <!-- Component for sorting report cache query -->
            <GhReportfilter
                @currentUser={{this.session.user}}
                @selectedType={{this.selectedType}}
                @availableTypes={{this.availableTypes}}
                @onTypeChange={{action "changeType"}}
                @selectedDateRange={{this.selectedDateRange}}
                @availableDateRanges={{this.availableDateRanges}}
                @onDateRangeChange={{action "changeDateRange"}}
            />
        </section>
    </GhCanvasHeader>

    <section class="view-container content-list">
        <ol class="report-caches-list gh-list {{unless this.reportsInfinityModel "no-reports"}}">
            {{#if this.reportsInfinityModel}}
                <li class="gh-list-row header">
                    <div class="gh-list-header gh-posts-title-header">Title</div>
                        {{#if (and (not-eq this.settings.membersSignupAccess "none") (not-eq this.settings.editorDefaultEmailRecipients "disabled") (not this.session.user.isContributor) this.feature.emailAnalytics)}}
                            <div class="gh-list-header gh-posts-sends-header">Sends</div>
                            <div class="gh-list-header gh-posts-opens-header">Opens</div>
                        {{/if}}
                </li>
            {{/if}}

            {{#each this.reportsInfinityModel as |report|}}
            <GhReportsListItem
                @report={{report}}
                data-test-report-id={{report.id}} />
            {{else}}
            <li class="no-report-caches-box">
                <div class="no-report-caches">
                    {{#if this.showingAll}}
                        {{svg-jar "posts-placeholder" class="gh-posts-placeholder"}}
                        <h4>Nothing here...</h4>
                    {{else}}
                        <h4>No reports match the current filter</h4>
                        <LinkTo @route="reports" @query={{hash type=null author=null tag=null}} class="gh-btn">
                            <span>Show all reports</span>
                        </LinkTo>
                    {{/if}}
                </div>
            </li>
            {{/each}}
        </ol>

        <GhInfinityLoader
            @infinityModel={{this.reportsInfinityModel}}
            @scrollable=".gh-main"
            @triggerOffset={{1000}} />
    </section>

    {{outlet}}
</section>
