<section class="gh-canvas">
    <GhCanvasHeader class="gh-canvas-header break tablet report-header">
        <GhCustomViewTitle @title={{if this.session.user.isContributor (concat this.config.blogTitle " Report") "Reports"}} @query={{reset-query-params "reportcache"}} />

        <section class="view-actions">
            <GhContentfilter
                @currentUser={{this.session.user}}
                @selectedType={{this.selectedType}}
                @availableTypes={{this.availableTypes}}
                @onTypeChange={{action "changeType"}}
                @selectedOrder={{this.selectedOrder}}
                @availableOrders={{this.availableOrders}}
                @onOrderChange={{action "changeOrder"}}
            />
        </section>
    </GhCanvasHeader>

    {{outlet}}
</section>