{{!-- template-lint-disable no-invalid-interactive --}}
{{#if this.isExisted}}
  <li class="gh-list-row gh-reports-list-item"
    {{on "mouseover" this.mouseOver}}
    {{on "mouseleave" this.mouseLeave}}
    ...attributes
  >
    {{#if (and this.session.user)}}

        <a class="gh-list-data gh-post-list-title" >

            <h2 class="gh-content-entry-title">{{@report.report_link}}</h2>
            <div class="flex items-center">
              <section class="view-actions">
                <span class="dropdown">
                  <GhDropdownButton  @dropdownName="user-actions-menu-{{@report.id}}" @classNames="gh-content-status-published nowrap gh-btn" title="{{@report.type}}">
                    {{#if this.defaultType }}
                      {{@report.type}}

                    {{else}}
                      {{this.type}}
                    {{/if}}
                  </GhDropdownButton>
                  <GhDropdown @name="user-actions-menu-{{@report.id}}" @tagName="ul" @classNames="dropdown-menu gh-content-status-published nowrap">
                      <li>
                          <button class="delete gh-content-status-published nowrap" data-test-delete-button type="button" {{action "toggleScamProperties"}}>
                              Scam
                          </button>
                      </li>
                      <li>
                          <button class="delete gh-content-status-published nowrap" data-test-delete-button type="button" {{action "togglePhishingProperties"}}>
                              Phishing
                          </button>
                      </li>
                      <li>
                          <button class="delete gh-content-status-published nowrap" data-test-delete-button type="button" {{action "toggleImpersonateFakeProperties"}}>
                              impersonate fake
                          </button>
                      </li>
                      <li>
                          <button class="delete gh-content-status-published nowrap" data-test-delete-button type="button" {{action "toggleBadSensitiveContentProperties"}}>
                              bad sensitive content
                          </button>
                      </li>
                      <li>
                          <button class="delete gh-content-status-published nowrap" data-test-delete-button type="button" {{action "toggleDangerousLinkProperties"}}>
                              Dangerous Link
                          </button>
                      </li>
                      <li>
                          <button class="delete gh-content-status-published nowrap" data-test-delete-button type="button" {{action "toggleOtherProperties"}}>
                              Other
                            </button>
                         </li>
                  </GhDropdown>
                </span>
              </section>
            </div>
            <p>
                <span class="gh-content-entry-meta">
                    By <span class="midgrey-l2 fw5">{{@report.email}}</span>
                    • <span data-tooltip="{{gh-format-report-time @report.created_date "D MMM YYYY"}}">{{gh-format-report-time @report.created_date "D MMM YYYY"}}</span>
                </span>
            </p>

            <p class="gh-content-text">{{@report.content}}</p>
        </a>

        <!-- gh-btn gh-btn-red gh-btn-green -->
        <div class="gh-list-data gh-post-list-recipients">
            <GhTaskButton @buttonText="Approve"
                          @task={{this.approveTask}}
                          @class="gh-btn gh-btn-primary gh-btn-green"
                          @successText="done"
                          @runningText="Processing..."
                          data-test-button="approve" />
        </div>

        <div class="gh-list-data gh-post-list-recipients">
            <GhTaskButton @buttonText="Decline"
                          @task={{this.toggleDeleteReportModalOn}}
                          @class="gh-btn gh-btn-primary gh-btn-red"
                          @successText=" "
                          @runningText="Processing..."
                           data-test-button="decline" />
        </div>
        {{#if this.showDeleteReportModal}}
            <GhFullscreenModal @modal="delete-report"
                @model={{@report}}
                @confirm={{action (perform this.deleteReport)}}
                @close={{action "toggleDeleteReportModalOff"}}
                @modifier="action wide" />
        {{/if}}
   {{/if}}
 </li>
{{/if}}
