<!--Accepts: 
    selectedType: String, avaiableTypes: [], onTypeChange: callback,
    selectedDateRange: String, availableDateRanges: [], onDateRangeChange: callback
 -->

<div class="gh-contentfilter view-actions-bottom-row" ...attributes>

    <div class="gh-contentfilter-menu gh-contentfilter-type {{if @selectedType.value "gh-contentfilter-selected"}}" data-test-type-select="true">
        <PowerSelect
            @selected={{@selectedType}}
            @options={{@availableTypes}}
            @searchEnabled={{false}}
            @onChange={{@onTypeChange}}
            @triggerComponent="gh-power-select/trigger"
            @triggerClass="gh-contentfilter-menu-trigger"
            @dropdownClass="gh-contentfilter-menu-dropdown"
            @matchTriggerWidth={{false}}
            as |type|
        >
            {{#if type.name}}{{type.name}}{{else}}<span class="red">Unknown type</span>{{/if}}
        </PowerSelect>
    </div>

    {{#unless @currentUser.isContributor}}
        <div class="gh-contentfilter-menu gh-contentfilter-daterange {{if @selectedType.value "gh-contentfilter-selected"}}" data-test-type-select="true">
            <PowerSelect
                @selected={{@selectedDateRange}}
                @options={{@availableDateRanges}}
                @searchEnabled={{false}}
                @onChange={{@onDateRangeChange}}
                @triggerComponent="gh-power-select/trigger"
                @triggerClass="gh-contentfilter-menu-trigger"
                @dropdownClass="gh-contentfilter-menu-dropdown"
                @matchTriggerWidth={{false}}
                as |visibility|
            >
                {{#if visibility.name}}{{visibility.name}}{{else}}<span class="red">Unknown visibility</span>{{/if}}
            </PowerSelect>
        </div>
    {{/unless}}

    {{#if this.showCustomViewManagement}}
        <div class="dropdown gh-contentfilter-menu gh-contentfilter-actions">
            {{#if this.customViews.activeView}}
                <button
                    type="button"
                    class="gh-contentfilter-menu-trigger gh-contentfilter-button gh-btn-save-view"
                    title="Edit current view..."
                    data-test-button="edit-view"
                    {{on "click" this.customViews.editView}}
                >
                    {{svg-jar "edit-view"}}
                </button>
            {{else}}
                <button
                    type="button"
                    class="gh-contentfilter-menu-trigger gh-contentfilter-button gh-btn-save-view"
                    title="Save as view..."
                    data-test-button="add-view"
                    {{on "click" this.customViews.editView}}
                >
                    {{svg-jar "add-view"}}
                </button>
            {{/if}}
        </div>
    {{/if}}
</div>